* {
    font-family: CaskaydiaCove Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(24, 24, 37, 0.87);
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0px;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    border-radius: 0px;
    color: #cdd6f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #f38ba8;
}


#workspaces button.focused {
    color: #1e1e2e;
    background-color: #f38ba8;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#clock,
#tray {
    padding: 3px 4px;
    margin: 3px;
    border-radius: 4px;
    background-color: #1e1e2e;
    color: #181825;
    border: solid #f38ba8 1px;
}

#clock {
    background-color: #f38ba8;
    border: none;
}

/* Bluetooth Module */
#bluetooth {
    padding: 3px 4px;
    margin: 3px;
    border-radius: 4px;
    background-color: #9270a0; /* Background color */
    color: #181825; /* Text color */
    border: solid #f38ba8 1px; /* Border color */
}

#bluetooth:hover {
    background-color: #f38ba8; /* Background color on hover */
    color: #1e1e2e; /* Text color on hover */
}
#custom-exit {
    padding: 3px 4px;
    margin: 3px;
    border-radius: 4px;
    background-color: #f38ba8; /* Background color */
    color: #181825; /* Text color */
    border: solid #000000 1px;

}
#backlight {
    color:antiquewhite;
}
#battery {
    color:antiquewhite;
}
#pulseaudio {
    color:antiquewhite;
}