* {
    font-family: "CaskaydiaCove Nerd Font", monospace, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(30, 30, 30, 0.6);
    border: none;
    color: #cdd6f4;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    border-radius: 0px;
    color: #cdd6f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #89dceb;
}

#workspaces button.focused {
    color: #89dceb;
}

#workspaces button.active {
    color: #89dceb;
}

#workspaces button.urgent {
    color: #af0909;
}

#window {
    padding-left: 5px;
    padding-right: 5px;
    color: #89dceb; /* Default color for window names */
    background-color: transparent;
}

#pulseaudio,
#memory,
#cpu,
#temperature,
#clock{
    padding-right: 5px;
    padding-left: 5px;
}

/* Hover states for modules */
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#clock:hover {
    color: #89dceb;
}

#tray {
    padding-right: 5px;
    padding-left: 4px;
}

#custom-divider,
#clock {
    background-color: transparent;
    color: #89dceb;
    border: none;
}

#custom-exit{
    color: #2c2c2c;
}


/* --- TEMPERATURE ALERTS --- */
/* CPU/GPU turn red if critical */
#temperature.critical,
#custom-gpu_temp.critical {
    color: #ff5555;
    font-weight: bold;
}

/* Optional: warning (yellow/orange) */
#temperature.warning,
#custom-gpu_temp.warning {
    color: #f1fa8c;
    font-weight: bold;
}
