* {
    font-family: CaskaydiaCove Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: #0f0f17;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0px;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    border-radius: 0px;
    color: #cdd6f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #bf36c4;
}


#workspaces button.focused {
    color: #1e1e2e;
    background-color: #bf36c4;
}

#workspaces button.urgent {
    background-color: #bf36c4;
    color: #1e1e2e;
}

#clock {
    padding: 3px 4px;
    margin: 3px;
    border-radius: 4px;
    background-color: #1e1e2e;
    color: #181825;
    border: solid #bf36c4 1px;
}

#clock {
    background-color: #bf36c4;
    border: none;
}

#custom-exit {
    color: antiquewhite;

}
#backlight {
    color:antiquewhite;
}
#battery {
    color:antiquewhite;
}
#pulseaudio {
    color:rgb(246, 215, 250);
}

#tray {
    padding: 3px 4px;
    margin: 3px;
    border-radius: 4px;
    background-color: #1e1e2e;
    color: #181825;
    border: solid #bf36c4 1px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
