* {
    font-family: CaskaydiaCove Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: {{base}};
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    border-radius: 0px;
    color: {{text}};
    transition: background-color 0.3s ease, color 0.3s ease;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: {{main_colorscheme}};
}


#workspaces button.focused {
    color: {{main_colorscheme}};
}

#workspaces button.urgent {
    color: {{red}};
}

#clock,
#tray {
    padding-right: 3px;
    padding-left: 3px;
}

#clock {
    background-color: transparent;
    color: {{main_colorscheme}};
    border: none;
}
