* {
    font-family: CaskaydiaCove Nerd Font;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(30, 30, 30, 0.6);
    border: none;
    color: #cdd6f4;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    border-radius: 0px;
    color: #cdd6f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: {{main_colorscheme}};
}

#workspaces button.focused {
    color: {{main_colorscheme}};
}

#workspaces button.active {
    color: {{main_colorscheme}};
}

#workspaces button.urgent {
    color: #af0909;
}

#window {
    padding-left: 5px;
    padding-right: 5px;
    color: {{main_colorscheme}}; /* Default color for window names */
    background-color: transparent;
}

#pulseaudio,
#memory,
#cpu,
#temperature,
#clock{
    padding-right: 5px;
    padding-left: 5px;
}

/* Hover states for modules */
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#clock:hover {
    color: {{main_colorscheme}};
}

#tray {
    padding-right: 5px;
    padding-left: 4px;
}

#custom-divider,
#clock {
    background-color: transparent;
    color: {{main_colorscheme}};
    border: none;
}

#custom-exit{
    color: #2c2c2c;
}